* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #212529, #343a40);
  font-family: "Montserrat", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header__logo {
  color: #ebe645;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  margin: 1.5rem;
}

.main-nav__items {
  list-style: none;
}

.main-nav__item {
  background-color: #000;
  border: 2px solid #ebe645;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0.5rem;
  text-align: center;
  /* padding: 0.15rem 0.3rem; */
}

.main-nav__link {
  color: #fff;
  text-decoration: none;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

.hero-header {
  color: #ebe645;
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-size: 4rem;
  margin: auto auto 1.5rem;
  text-align: center;
}

.hero-description {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  width: 25rem;
  text-align: center;
}

.hero-image {
  margin: 5rem auto;
  height: 28rem;
  width: 40rem;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

.location-info {
  color: #fff;
}

.contacts {
  color: #fff;
  text-decoration: none;
}

.location-info:hover {
  color: #ebe645;
  text-decoration: none;
}

.contacts:hover {
  color: #ebe645;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .hero-section,
  .contact-info {
    flex-direction: column;
  }

  .hero-image {
    height: 20rem;
    width: 25rem;
  }

  .contact-info {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
